{%- extends '@SymfonyApiBundle/layouts/api.html.twig' -%}

{%- block page_body -%}
    <h1>API</h1>

    {% for apiRoute in apiRoutes %}
        <h2>
            <a href="{{ apiRoute.path }}">{{ apiRoute.path }}</a>
        </h2>

        <p>{{ ('api.' ~ apiRoute.name ~ '::description') | trans }}.</p>

        {% if apiRoute.queryParameters is not empty %}
            <h3>Query parameters</h3>

            <table border="1">
                {% for name,constraint in apiRoute.requirements %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ constraint }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if apiRoute.queryParameters is not empty %}
            <h3>Query parameters</h3>
            <table border="1">
                {% for queryParameter in apiRoute.queryParameters %}
                    <tr>
                        <td>{{ queryParameter }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
    <script>
      // Temp
      document.getElementById('layout').classList.remove('layout-loading');
    </script>
{%- endblock -%}
