{%- extends '@SymfonyApiBundle/layouts/api/layout.html.twig' -%}

{%- block page_body -%}
    {% for apiRoute in apiRoutes %}
        <h2>
            <a href="{{ apiRoute.path }}">{{ apiRoute.path }}</a>
        </h2>


        <div class="blocks blocks-no-stretch">
            <div class="block">
                {{ ('api.' ~ apiRoute.name ~ '::description') | trans }}.

                {% if apiRoute.requirements is not empty %}
                    <h3>{{ '@page::section_requirements' | trans }}</h3>

                    <ul>
                        {% for name,constraint in apiRoute.requirements %}
                            <li>
                                <h4>{{ name }}</h4>
                                <p>{{ constraint }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if apiRoute.queryParameters is not empty %}
                    <h3>{{ '@page::section_query' | trans }}</h3>
                    <table border="1">
                        {% for queryParameter in apiRoute.queryParameters %}
                            <tr>
                                <td>{{ queryParameter }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="block blocks-col">
                <div class="highlight-block">
                    curl {{ app.request.getSchemeAndHttpHost() }}{{ apiRoute.path }}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
{%- endblock -%}
