{%- extends '@WexampleSymfonyApiBundle/layouts/api/layout.html.twig' -%}

{%- block page_body -%}
    {% for apiRoute in apiRoutes %}
        {% set api_url = api_build_example_url(apiRoute.name) %}
        <h2>
            <a href="{{ apiRoute.path }}">{{ apiRoute.path }}</a>
        </h2>
        <h3>
            <a
                    target="_blank"
                    href="{{ api_url }}">{{ api_url }}</a>
        </h3>

        <div class="blocks blocks-no-stretch">
            <div class="block">
                {{ ('WexampleSymfonyApiBundle.api.' ~ apiRoute.name ~ '::description') | trans }}

                {% if apiRoute.requirements is not empty %}
                    <h3>{{ '@page::section_requirements' | trans }}</h3>

                    <ul>
                        {% for name,constraint in apiRoute.requirements %}
                            <li>
                                <h4>{{ name }}</h4>
                                <p>{{ constraint }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if apiRoute.queryParameters is not empty %}
                    <h3>{{ '@page::section_query' | trans }}</h3>
                    <ul>
                        {% for queryParameter in apiRoute.queryParameters %}
                            <li>
                                <h4>{{ queryParameter }}</h4>
                                <p> {{ ('api.' ~ apiRoute.name ~ '::query.' ~ (queryParameter | u.snake)) | trans }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="block blocks-col">
                <div class="highlight-code">
                    <pre class="language-bash line-numbers"><code>curl {{ api_url }}</code></pre>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
{%- endblock -%}
